<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <p>Routes for the user {{ localStorage }}</p>
      <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
      <button class="button-bar" mat-raised-button routerLink="/dashboard/default" routerLinkActive="active">
        Dashboard
      </button>
      <br>
      <button class="button-bar" mat-raised-button routerLink="/dashboard/employee" routerLinkActive="active">
        Employees
      </button>
      <br>
      <button class="button-bar" mat-raised-button routerLink="/dashboard/projects" routerLinkActive="active">
        Projects
      </button>
      <br>
      <button class="button-bar" (click)="logout()" mat-raised-button>
        Logout
      </button>
    </mat-drawer>
  
    <div class="sidenav-content">
      

      <div class="sidenav-content-head">
          <button type="button" mat-button (click)="drawer.toggle()">
              <i class="material-icons">menu</i>
          </button>
          <h1>HR MANAGEMENT</h1>
      </div>
      <br>

      <router-outlet></router-outlet>
        
        
    </div>
    
  
</mat-drawer-container>



