<div class="container-default">
  <button class="container-default-items" 
            mat-button
            routerLink="/dashboard/employee" >
    <i class="material-icons material-icons2">
        person_outline
    </i>
    <br>
    <label>Employees</label>
  </button>

  <button class="container-default-items" 
            mat-button color="primary"
            routerLink="/dashboard/projects">
    <i class="material-icons material-icons2">
        folder
    </i>
    <br>
    <label>Projects</label>
</button>
</div>


  