<div class="container-login">

  <mat-card>
    <mat-card-title>HR MANANGEMENT</mat-card-title>
    <mat-card-subtitle>LOGIN</mat-card-subtitle>
    <mat-card-content>
      <div>
          <label>Username: </label>
          <input type="text" #username>
      </div>
      <br>
      <div>
        <label>Password: </label>
        <input type="password" #password>
      </div>
      <br>
      <div>
        <span *ngIf="!loginValid" style="color: red">* User or Password invalid</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="makeLogin(username.value, password.value)">Enter</button>
      <!-- <button mat-raised-button color="warn">Cancel</button> -->
    </mat-card-actions>
  </mat-card>
</div>
